<ion-view style="" id="page2" title="Camera Tab Default Page">
  <ion-content class="has-header" padding="true">
    <p>
      Add some
      <b>HTML</b> for
      <u>flavor</u>
    </p>
    <div id="cameraTabDefaultPage-card21" class="list card">
      <ion-item style="" id="cameraTabDefaultPage-list-item3" class="item-avatar">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
      </div>
      <div style="" id="cameraTabDefaultPage-list-item-container2" class="item item-body">
        <div class="show-list-numbers-and-dots" id="cameraTabDefaultPage-markdown2">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item style="" id="cameraTabDefaultPage-list-item4" class="item-icon-left assertive">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>